body {
    margin: 0;
    background-color: #343A40;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.legenda {
    font-size: 20pt;
    color: #999999;
}

.foot{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.copytext {
    font-size: 10pt;
    color: #888888;
}

#imgfatec {
    width: 100px;
}
/*
.navbar {
    background-color: blue !important;
}*/