body {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.foot{
    width: 800px;
    text-align: center;
}

.copytext {
    font-size: 10pt;
}

#imgfatec {
    width: 150px;
    float: left;
}

.navbar-light {
    background-color: blue;
}